@font-face {
    font-family: dancingScriptHeadline;
    src: url(../assets/fonts/dance/DancingScript-Bold.ttf);
}
@font-face {
    font-family: robotoRegular;
    src: url(../assets/fonts/roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: robotoHeadline;
    src: url(../assets/fonts/roboto/Roboto-Bold.ttf);
}