$theme-primary-transparent: hsla(139, 100%, 31%, 0.522);

//$theme-primary: hsl(134, 50%, 31%);
//$theme-primary: hsl(121, 92%, 63%);

//$theme-primary: #37a650;
$theme-primary: #7DA820;
$theme-red: #96000087;
