.about-component {
  .theme-section {
    background-color: $theme-primary;
    text-align: center;
    padding: 0.25rem;
    margin: 0;
    .title {
      margin: 2rem 0;
    }
  }

  @media screen and (min-width: 1600px) {
    .about-wrapper{
      padding: 5% 15%;
    }
  }
}
