.about-me-component {
    padding-top: 5rem;
}
.about-component {
    .theme-section {
        background-color: $theme-primary;
        text-align: center;
        padding: .25rem;
        margin: 0;
        .title{
            margin: 2rem 0;
        }
    }
    article {
        .text-section {
            padding: 0 15%;
        }
    }
    .profile {
        padding: 2rem;
        display: flex;
        justify-content: center;
        img {
            width: 80%;
            display: block;
            margin: 0;
            border-radius: 50%;
        }
    }
    
    @media screen and (min-width: $desktop) {
        padding: 10%;
        display: flex;
        justify-content: space-between;
        .profile {
            padding: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 500px;
                height: auto;
                display: block;
                margin: 0;
                border-radius: 50%;
            }
        }
        .right-section{
           display: flex;
           align-items: center;
        }
        
    }
}
