.footer-component {
  background-color: $theme-primary;
  height: 250px;
  .social-media-list {
    padding-top: 3rem;
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 2rem;
    .svg-icon {
      fill: white;
			color: white;
      height: 40px;
      width: 40px;
    }
  }
}
