@include animation-fade(fade-in, 0%, 100%);
.header-component {
    height: 100px;
    background-color: $theme-primary;
    
    .navbar-btn {
        z-index: 3;
        position: fixed;
        background-color: $theme-red;
        padding: 1rem;
        text-decoration: none;
        border-radius: 50%;
        top: 2rem;
        left: 2rem;
        svg {
            display: flex;
            align-items: center;
            fill: white;
            height: 18px;
            width: 18px;
        }
    }
    .nav-menu {
        animation: fade-in 200ms linear;
        height: 100vh;
        width: 100%;
        position: fixed;
        z-index: 2;
        background-color: $theme-primary;
        height: 100%;
        .nav-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            .menu-list {
                
                list-style: none;
                padding: 0;
                margin: 0;
                li {
                    text-align: center;
                    margin: 1rem 0;
                    font-size: 2rem;
                    vertical-align: middle;
                }
            }
        }
    }
}
