@media screen and (max-width: $tablet) {
  .img-text-component {
    img {
      height: 400px;
    }
    .img-text-wrapper {
      display: flex;
      flex-direction: column;
    }
    .text-section {
      width: 100%;
      margin: 0;
      padding: 5% 10%;
      background-color: #f2f5fe;
      p {
        width: clamp(30ch, 50%, 50ch);
      }
    }
  }
}
@media screen and (min-width: $desktop) {
  .img-text-component {
    margin-bottom: 8rem;
    img {
      height: 400px;
    }
    .img-text-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    .text-section {
      width: 100%;
      margin: 0;
      background-color: white;
      padding: 0 10%;
    }
  }
}
