@media screeb and (max-width: $phone-small) {
}
@media screen and (max-width: $tablet) {
  .img-text-component {
    padding-bottom: 3rem;

    .img-text-wrapper {
      display: flex;
      flex-direction: column;
    }
    .text-section {
      background-color: #f2f5fe;
    }
  }
}
@media screen and (max-width: $desktop) {
  .img-text-component {
    padding-bottom: 3rem;
    .img-text-wrapper {
      display: flex;
      flex-direction: column;
    }
    .text-section {
      background-color: #f2f5fe;
    }
  }
}
@media screen and (min-width: $desktop) {
  .img-text-component {
    img {
      width: 500px;
    }
    .img-text-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    .text-section {
      margin: 0;
      padding: 0 10%;
    }
  }
}
@media screen and (min-width: 1800px) {
  @media screen and (min-width: $desktop) {
    .img-text-component {
      margin-bottom: 5rem;
      img {
        height: 400px;
      }
      .img-text-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-around;
      }
      .text-section {
        width: 100%;
        margin: 0;
        background-color: white;
        padding: 0 10%;
      }
    }
  }
}
