@include animation-slide(drop-down, 0px, 300px);
@include animation-slide(drop-up, 300px, 0px);

$price-low: #5de1389c;
$price-medium: #07e5d699;
$price-high: #ff00e57d;

.pricing-info-component {
  background-color: #f2f5fe;
  padding: 3rem;

  .price-wrapper {
    @media screen and (min-width: $tablet) {
      padding: 0% 15%;
    }
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .price-card-component {
      max-width: 400px;
      margin-bottom: 1rem;
      border-radius: 10px;
      .low {
        background-color: $price-low;
      }
      .medium {
        background-color: $price-medium;
      }
      .high {
        background-color: $price-high;
      }
      .price-card-header {
        color: white;
        border-radius: 10px 10px 0 0;
        padding-bottom: 1rem;
        .headline-wrapper {
          display: flex;
          justify-content: center;
          h1 {
            text-align: center;
            margin-bottom: 0;
            text-align: center;
          }
        }
      }

      .price-card-body {
        overflow: hidden;
        background-color: white;
        .icon-wrapper {
          display: flex;
          justify-content: center;
          padding: 1rem;
          .icon {
            width: 50px;
            height: 50px;
          }
          .priceclass-low {
            color: $price-low;
          }
          .priceclass-medium {
            color: $price-medium;
          }
          .priceclass-high {
            color: $price-high;
          }
        }
        width: 100%;
        h2 {
          margin: 0;
          color: #7c7c7c;
        }
        .price-card-price {
          text-align: center;
        }
        p {
          padding: 3rem;
          margin: 0;
        }
      }
    }
    //Phone
    @media screen and (max-width: $tablet) {
      padding: 3rem 5%;
      .drop-down-component {
        display: flex;
        justify-content: center;
        .icon {
          position: relative;
          /* top: 3pt; Uncomment this to lower the icons as requested in comments*/
          content: "";
          display: inline-block;
          /* By using an em scale, the arrows will size with the font */
          width: 1em;
          height: 1em;
          border-top: 0.2em solid white;
          border-left: 0.2em solid white;
          margin-right: 0.5em;
          z-index: 5;
        }
        .active {
          transform: rotate(45deg);
          animation: close 0.5s ease;
        }
        .not-active {
          transform: rotate(-135deg);
          animation: open 0.5s ease;
        }
      }
      @keyframes open {
        0% {
          transform: rotate(45deg);
        }
        100% {
          transform: rotate(225deg);
        }
      }
      @keyframes close {
        0% {
          transform: rotate(-135deg);
        }
        100% {
          transform: rotate(45deg);
        }
      }
      .not-active {
        animation: drop-up 500ms ease;
        height: 0;
      }
      .active {
        animation: drop-down 500ms ease;
        height: 300px;
      }
    }
  }

  @media screen and (min-width: $desktop) {
    .price-wrapper {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      justify-content: center;
      align-items: center;
      padding: 0;
      .price-card-component {
        width: 20%;
        max-width: 250px;
        .price-card-body {
          height: 250px;
          p {
            padding: 1.5rem;
          }
        }
      }
    }
  }
}
